.home{
  
  
  &__container{    
    position: relative;
    height: 95vh;
    margin-right: 5rem;
  }

  &__heading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: blanchedalmond;

  }
  
  &__subheading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
  }
  
  &__icon-container{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    align-content: center;
  }
}