.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr min-content;
  width: 80%;
  font-size: .8rem;
  line-height: 1.5;
  text-align: center;

  &__links{
    grid-column: 1 / -1;
    justify-items: center;
    margin: auto;
    // align-items: center;
  }
}