.icon-list{
  display: flex;
  width: 100%;
  margin: auto;
  padding: .5rem;
  justify-content: space-evenly;
  
  & > a {
    color: blanchedalmond;
    text-decoration: none;
    text-align: center;
    align-content: center;
    display: inline-block;
    margin: auto;

    & svg {
      display: block;
      margin: auto;
    }

    &:hover svg,
    &:active svg {
      fill: blanchedalmond;
    }

    & svg:hover,
    & svg:active {
      fill: blanchedalmond;
    }
  }
}

.MuiListItemIcon-root .list-icon{
  min-width: 2rem;
}