.icon-list{
  display: flex;
  width: 100%;
  margin: auto;
  padding: 1rem;
  justify-content: space-evenly;

  & > a {
    color: blanchedalmond;
    text-decoration: none;

    // & svg {
    //   width: 2rem;
    //   margin: 0;
    //   padding: 0;

    // }

    &:hover svg,
    &:active svg {
      fill: blanchedalmond;
    }

    & svg:hover,
    & svg:active {
      fill: blanchedalmond;
      // color: $color-purple;
    }
  }
}

.MuiListItemIcon-root .list-icon{
  min-width: 2rem;
}