.header {
  position: relative;
  width: 100%;
  margin: auto;

  &__bg{
    position: absolute;
    top: 0;
    left: auto;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: .65;
    overflow: hidden;
    margin: 0 auto;

    &-video__content{
      height: 100vh;
      width: 100vw;
      margin: auto;
      background-size: cover;
    }
  }
}

