.header {
  position: relative;
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;

  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: .65;
    overflow: hidden;
    margin: 0 auto;

    &-video__content{
      height: 100vh;
      margin: auto;
      background-size: cover;

      @media only screen and (min-width: 75em) {
        width: 100vw;
      } 
    }
  }
}

